# backup files
*~
# intermediate directories and build targets
/external/
/obj/
/lib/
/test/
/.original_env
/env.sh
# data
/data/*.tar.gz
/data/*.bin
/data/input/*.csv
/data/output/*.csv
/data/output/reference/*.csv
/data/data_ok
# build targets
/alpaka
/alpakatest
/cuda
/cudacompat
/cudadev
/cudatest
/cudauvm
/fwtest
/hip
/hiptest
/kokkos
/kokkostest
/serial
/sycl
/sycltest
#dev
/.vscode
#config
/config/*.csv
!config/test_output.csv
!config/test_without_output.csv
#plots 
/plots